* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.cell {
    background: green;
}