* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.cell.odd {
    background: #85818163;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked {
    border: 1.5px solid yellow;
}

.piece {
    font-size: 3.5rem;
    cursor: grab;
}

.cell:hover {
    border: 0.5px solid yellow; 
}

.input {
    width: 50vw;
}

input {
    margin-top: 1em;
    margin-bottom: 1em;
}

#FEN {
    width: 25em;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
}